.main-right {
    flex-grow: 1; /* 남은 영역을 채운다.*/
    max-width: 896px;
}

.repositories-main-options {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    padding: 16px 0px;
    width: 100%;
    white-space: nowrap;

}

.find-repository-input {
    margin-right: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    width: 100%;
    max-width: 505px;
    min-width: 220px;
}

.repository-list {
    position: relative;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    padding: 24px 0px;
    width: 100%;
}

.repository-list-name {
    color: #2f81f7;
    font-size: 20px;
}

.public-label {
    margin: 0px 0px 4px 4px;
    padding: 0px 7px;
    border: 1px solid #dbdbdb;
    border-radius: 2em;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    color: #7d8590;
}

.list-name {
    margin: 0px 0px 8px;
    padding: 0px 24px 0px 0px;
    font-size: 14px;
    color: #7d8590;
}

.repository-block {
    color: #dbdbdb;
}